<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distribuidora Médica</title>
    <link rel="icon" href="~/images/varios/icono.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ede4348c88.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Raleway:wght@100;200&family=Wix+Madefor+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class=" navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pr-0 mr-0 align-items-center">
                <div class="contenedor">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-icon" src="~/images/varios/descarga.png" /></a>
                    <nav class="navegador-principal">
                        <div class="container">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav barra-layout">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><div>Inicio</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="about_us"><div>Nosotros</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact"><div>Contacto</div></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <partial name="_LoginPartial" />
                </div>
            </nav>

            <nav class=" navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pr-0 mr-0 align-items-center">
                <div class="contenedor">
                    <nav class="navegador-principal">
                        <div class="container">


                            <div class="navbar-collapse collapse d-sm-inline-flex ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                                </svg>
                                <ul class="navbar-nav barra-layout">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><div>Productos</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Tipos" asp-action="Index"><div>Tipos de artículos</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Secciones" asp-action="Index"><div>Secciones</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Marcas" asp-action="Index"><div>Marcas</div></a>
                                    </li>
                                </ul>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                                </svg>
                            </div>
                        </div>
                    </nav>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        }
        else
        {
            <nav class=" navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pr-0 mr-0 align-items-center">
                <div class="contenedor">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-icon" src="~/images/varios/descarga.png" /></a>

                    <nav class="navegador-principal">
                        <div class="container">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav barra-layout">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><div>Inicio</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index"><div>Productos</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="about_us"><div>Nosotros</div></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact"><div>Contacto</div></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <partial name="_LoginPartial" />
                </div>
            </nav>

        }

    </header>
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <a class="btn-wpp" href="https://api.whatsapp.com/send/?phone=5493564506821&text&type=phone_number&app_absent=0" target="_blank" rel="noreferrer noopener">
        <i class="fa-brands fa-whatsapp"></i>
    </a>

    <footer class="border-top footer text-muted">
        <div class="footer-container">
            <div class="separate-footer">
                <div class="column-content">
                    <h3>Encuéntrenos</h3>
                    <div class="icon-part">
                        <i class='bx bx-map'></i>
                        <div>Bv. 9 de Julio 1655, San Francisco, Cba.</div>
                    </div>
                </div>
                <div class="column-content">
                    <h3>Llámenos</h3>
                    <div class="icon-part">
                        <i class='bx bx-phone'></i>
                        <div>(03564) 420117 / 424517</div>
                    </div>
                </div>
            </div>
            <p>Distribuidora Médica SRL. Desarrollado por Luengo Matías</p>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
