@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Contacto";
}
<div class="container">
    <div class="timetable">
        <h2>Horarios de Atención</h2>
        <p><i class='bx bx-time'></i> LUNES A VIERNES</p>
        <p>de 8:00 a 12:00 HS. y de 15:30 a 19:30 HS.</p>
        <p><i class='bx bx-time'></i> SÁBADOS</p>
        <p>de 9:00 a 12:00 HS.</p>
    </div>
    <hr />
    <div class="contact-conteiner">
        <div id="formulario">
            <h2 class="form-tittle">Envíenos su consulta</h2>
            <form action="https://formsubmit.co/matiasluengoo95@gmail.com" method="POST">
                <label class="label-form" for="name">Nombre</label>
                <input class="input-form" type="text" name="name" required />
                <label class="label-form" for="tel">Telefono</label>
                <input class="input-form" type="text" name="tel" placeholder="ej: 3564 123456" required />
                <label class="label-form" for="email">Correo</label>
                <input class="input-form" type="email" name="email" placeholder="ej: correo@correo.com" required />
                <label class="label-form" for="subject">Tu mensaje</label>
                <textarea type="text" name="subject" cols="15" rows="5" required></textarea>
                <input class="input-submit" type="submit" value="Enviar" />

                <input type="hidden" name="_next" value="https://localhost:44364/" />
                <input type="hidden" name="_captcha" value="false" />
            </form>
        </div>
        <div id="location">
            <h2 class="form-tittle">Nuestra ubicación</h2>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702.2042322988334!2d-62.08997280984339!3d-31.4304200939251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cb2816fc4b4c21%3A0xd6cac8b3373eaf31!2sBv.%209%20de%20Julio%2C%20San%20Francisco%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1683837062233!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    @*@if (!SignInManager.IsSignedIn(User))
    {
        <a class="text-dark justify-right" asp-area="Identity" asp-page="/Account/Login">
            Ingresar
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <circle cx="12" cy="10" r="3" />
                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
        </a>
    }*@
</div>